<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Ações -->
    <record id="action_parking_registerbox_my" model="ir.actions.act_window">
        <field name="name">Minhas Caixas</field>
        <field name="res_model">parking.registerbox</field>
        <field name="view_mode">list,form</field>
        <field name="view_id" ref="view_parking_registerbox_tree"/>
        <field name="domain">[("create_uid", "=", uid)]</field>
        <field name="context">{'create': True}</field>
        <field name="target">current</field>
        <field name="help" type="html">
            <p class="o_view_nocontent_smiling_face">
                Crie seu primeiro caixa
            </p>
            <p>
                Clique no botão criar para abrir um novo caixa.
            </p>
        </field>
    </record>

    <record id="action_parking_registerbox_all" model="ir.actions.act_window">
        <field name="name">Histórico de Caixas</field>
        <field name="res_model">parking.registerbox</field>
        <field name="view_mode">list,form</field>
        <field name="view_id" ref="view_parking_registerbox_history_tree"/>
        <field name="context">{'create': False}</field>
        <field name="help" type="html">
            <p class="o_view_nocontent_smiling_face">
                Nenhum caixa encontrado
            </p>
        </field>
    </record>

    <record id="action_parking_registerbox_line" model="ir.actions.act_window">
        <field name="name">Lançamentos</field>
        <field name="res_model">parking.registerbox.line</field>
        <field name="view_mode">list,form</field>
        <field name="view_id" ref="view_parking_registerbox_line_tree_all"/>
        <field name="domain">[("create_uid", "=", uid)]</field>
        <field name="help" type="html">
            <p class="o_view_nocontent_smiling_face">
                Nenhum lançamento encontrado
            </p>
        </field>
    </record>

    <record id="action_parking_payment_form" model="ir.actions.act_window">
        <field name="name">Formas de Pagamento</field>
        <field name="res_model">parking.payment.form</field>
        <field name="view_mode">list,form</field>
        <field name="help" type="html">
            <p class="o_view_nocontent_smiling_face">
                Crie sua primeira forma de pagamento
            </p>
        </field>
    </record>

    <record id="action_parking_cost" model="ir.actions.act_window">
        <field name="name">Regras de Cálculo</field>
        <field name="res_model">parking.cost</field>
        <field name="view_mode">list,form</field>
        <field name="help" type="html">
            <p class="o_view_nocontent_smiling_face">
                Crie sua primeira regra de cálculo
            </p>
        </field>
    </record>

    <!-- Menus -->
    <menuitem id="menu_parking_root" 
              name="Caixas" 
              sequence="10"
              groups="parking_management.group_parking_manager,parking_management.group_parking_admin"/>

    <menuitem id="menu_parking_registerbox_my" 
              name="Minhas Caixas" 
              parent="menu_parking_root" 
              action="action_parking_registerbox_my" 
              sequence="1"
              groups="parking_management.group_parking_manager"/>

    <menuitem id="menu_parking_registerbox_all" 
              name="Histórico de Caixas" 
              parent="menu_parking_root" 
              action="action_parking_registerbox_all" 
              sequence="2"
              groups="parking_management.group_parking_admin"/>

    <menuitem id="menu_parking_registerbox_line" 
              name="Lançamentos" 
              parent="menu_parking_root" 
              action="action_parking_registerbox_line" 
              sequence="3"
              groups="parking_management.group_parking_manager"/>

    <menuitem id="menu_parking_payment_form" 
              name="Formas de Pagamento" 
              parent="menu_parking_root" 
              action="action_parking_payment_form" 
              sequence="4"
              groups="parking_management.group_parking_admin"/>

    <menuitem id="menu_parking_cost" 
              name="Regras de Cálculo" 
              parent="menu_parking_root" 
              action="action_parking_cost" 
              sequence="5"
              groups="parking_management.group_parking_admin"/>
</odoo> 